
/* /* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) { 
    /* #emilyComin{
        display: none;
   }
   #wave40, #wave70{
        height: 250px;
   }
   #wave100{
        height: 150px;
    }
    .contentLeft{
        width: 100%;
    }
    .saudation{
        margin: 0;
        flex-direction: column;
        width: 100%;
    }
    .saudation p, h1, h2{
        margin: 0;
    } */
    .experience{
        height: auto;
    }
    .aboutMe, .about{
       flex-direction: column;
       height: auto;
       width: 100%;
       background-color: #F7F2F4;
    }
    .aboutMe p{
        width: 100%;
    }
    .aboutMe img{
        position: unset;
        margin: 0 auto;
    }
    .projetos, .projetosReais, .projeto, #projetoreverse{
        flex-direction: column;
        justify-content: center;
        margin: 30px 0;
    }
    .projeto{
        width: 100%;
        gap: 10px;
    }
    .projeto img{
        width:100%;
    }
    .contact{
        flex-direction: column;
       justify-content: center;
        width: 100%;
    }
    .googleAgenda, .botaoWhatsApp{
        width: 100%;
    }
    .contact button{
        width: 100%;
    }
}




.content{
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.content img{
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    overflow-clip-margin: clip;
}
.homeContent #wave70{
    z-index: -1;
}
.contentLeft{
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: right;
    position: relative;
}
.saudation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.saudation h2{
    font-family: "Bricolage Grotesque", sans-serif;
}
.saudation h1{
    font-size: 4rem;
    font-weight: 500;
}
.saudation p{
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 1px 1px rgba(211, 211, 211, 0.584);
}
.saudation span{
    font-weight: 600;
}
#emilyComin{
    width: 500px;
    right: 0;
    margin-right: 200px;
}