@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --peach: #F59B7E;
    --pink: #C30075;
    --lavender-blush: #F7F2F4;
    --tyrian-purple: #4e0439;
}
h1{
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
img{
    object-fit: cover;
}
p{
    line-height: 30px;
}
body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background-color: #faeeee;
}
header{
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100vw;
}
.content{
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
}
.homeContent #wave70{
    z-index: -1;
}
.contentLeft{
    height: 50vh;
    width: 50%;
    margin-bottom: 15%;
    display: flex;
    justify-content: right;
}
.saudation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.saudation h2{
    font-family: "Bricolage Grotesque", sans-serif;
}
.saudation h1{
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 4rem;
    font-weight: 500;
}
.saudation p{
    font-weight: 300;
    font-size: 2rem;
    text-shadow: 1px 1px rgba(211, 211, 211, 0.584);
}
.saudation span{
    font-weight: 600;
}
#emilyComin{
    width: 500px;
    right: 0;
    margin-right: 200px;
}
.content img{
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}
/* ------------------  SERVIÇOS------------------- */
.experience{
    padding: 60px;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to bottom, #f59b7f, #f6a187, #f7a88f, #f7ae97, #f8b49f, #f9bba8, #fac1b1, #fac8ba, #fbd1c6, #fcdbd2, #fde4de, #fdeeea,#FFFBF8, #FFFCFA, #fff); 
}
.serviceTitle{
    margin-left: 30px;
}
.serviceCardContent{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.servicesCards{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.service{
    max-width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(245, 245, 245, 0.222);
}
.service .title{
    padding: 16px;
    border-radius: 20px;
}
.serviceContent{
    padding: 24px;
    align-items: center;
}
/* ----------------           SOBRE             ------------------------ */
.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding: 100px 0;
    position: relative;
    background-color: #F7F2F4;
}
.aboutMe{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(228, 226, 226, 0.785);
    border-radius: 20px;
    width: 70%;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.aboutMe img{
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
    align-self: flex-end;
    border-radius: 0 0 0 20px;
    margin-right: 0;
}
.textAboutMe{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}
.textAboutMe h1{
    color: var(--pink);
}
.textAboutMe p{
    text-indent: 5%;
    width: 600px;
    font-size: 1rem;
    line-height: 30px;
}
.socialMedias{
    display: flex;
    gap: 36px;
}

@keyframes techAnimation {
	from {
		transform: translateX(0px);
	}

	to {
		transform: translateX(900px);
	}
}
.tecnologyContent{
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}
.tecnology{
    font-size: 0.75rem;
}

/* ----------------PROJETOS REAIS------------- */
.projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url(img/Background.png);
    background-size: cover;
    position: relative;
}
.projetosReais, .projetosAcademicos{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.projeto{
    display: flex;
    align-items: center;
    margin: 0 200px;
    padding: 0 12px;
    gap: 154px;
    background-color: #f7f2f42f;
    backdrop-filter: blur(5px);
}
.projeto img{
   width: 460px;
   cursor: pointer;
}
.projeto p{
    text-align: justify;
}
#projetoreverse{
    display: flex;
    flex-direction: row-reverse;
}
/* ------------------CONTATO----------------------- */
@keyframes animationSquare {
    from {
        transform: translateX(-500px);
    }

    to{
        transform: translateX(500px);
    }
}
.contact{
    width: 100%;
    display: flex;
    z-index: 2;
    padding: 100px 0 ;
}
/* .quadradoEsquerda{

    background-image: linear-gradient(to right bottom, #ffbfb3, #f9b9b2, #f3b3b1, #edadb0, #e6a8af, #e0a4ae, #d99fac, #d29bab, #ca96a9, #c192a8, #b98da5, #b089a3);
    background-image: linear-gradient(to right bottom, #fdbbe3, #febbdf, #ffbadb, #ffbad8, #ffbad4, #ffbad0, #ffbacc, #ffbac8, #ffbbc2, #ffbcbd, #ffbdb8, #ffbfb3);
} */
.googleAgenda, .botaoWhatsApp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50vh;
    backdrop-filter: blur(8px);
    text-align: center;
    padding: 20px 0;
    font-size: 1.25rem;
    gap: 28px;
}
.contact p{
    width: 50%;
}
.contact button{
    background-color: transparent;
    border: none;
    background-color: var(--peach);
    color: #F7F2F4;
    border-radius: 5px;
    padding: 30px;
    cursor: pointer;
}
.contact button a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    color: #F7F2F4;
    font-size: 2rem;
}
.contact button:hover{
    box-shadow: rgb(186, 185, 185) 0px 20px 30px -10px;
}
.contact button img, svg{
    height: 40px;
    width: 40px;
}
footer img{
    position: absolute;
    z-index: -1;
}
footer {
    height: 280px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
footer a {
    text-decoration: none;
    color: #4e0439;
}
footer i{
    font-size: 2rem;
    color: #4e0439;
    margin-right: 24px;
}
@media screen and (max-width: 600px) { 
    #emilyComin{
        /* height: 400px;
        bottom: 20px;
        margin: 0 -100px;
        object-fit: scale-down; */
        display: none;
   }
   #wave40, #wave70{
        height: 250px;
   }
   #wave100{
        height: 150px;
    }
    .contentLeft{
        width: 100%;
    }
    .saudation{
        margin: 0;
        flex-direction: column;
        width: 100%;
    }
    .saudation p, h1, h2{
        margin: 0;
    }
    .experience{
        height: auto;
    }
    .aboutMe, .about{
       flex-direction: column;
       height: auto;
       width: 100%;
       background-color: #F7F2F4;
    }
    .aboutMe p{
        width: 100%;
    }
    .aboutMe img{
        position: unset;
        margin: 0 auto;
    }
    .projetos, .projetosReais, .projeto, #projetoreverse{
        flex-direction: column;
        justify-content: center;
        margin: 30px 0;
    }
    .projeto{
        width: 100%;
        gap: 10px;
    }
    .projeto img{
        width:100%;
    }
    .contact{
        flex-direction: column;
       justify-content: center;
        width: 100%;
    }
    .googleAgenda, .botaoWhatsApp{
        width: 100%;
    }
    .contact button{
        width: 100%;
    }
}